site_name: My Notes
site_url:
theme:
  name: material
  features:
    - navigation.indexes

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - blog:
      blog_dir: blog
      archive_date_format: MM yyyy
  - meta
  - tags
  - glightbox:
       touchNavigation: true
       loop: false
       effect: zoom
       slide_effect: slide
       width: 100%
       height: auto
       zoomable: true
       draggable: true
       skip_classes:
         - custom-skip-class-name
       auto_themed: false
       auto_caption: false
       caption_position: bottom
       background: white
       shadow: true
       manual: false

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption


nav:
  - Home: index.md
  - About: about.md
  - Blog:
     - blog/index.md
     - blog/tags.md
